{% extends "base.twig" %}
{% block body %}
    {% block header %}
    <!-- BEGIN HEADER -->
    {% include 'header.html.twig' %}
    <!-- END HEADER -->
    {% endblock header %}
    {% block page_container %}
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            {% include 'side_bar_menu.html.twig' %}
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        {% block page_content_wrapper %}
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                {% block page_header %}
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    {% block page_title_content %}
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>{% block page_title %}{% endblock %}
                            <small>{% block page_description %}{% endblock %}</small>
                        </h1>
                    </div>
                    <!-- END PAGE TITLE -->
                    {% endblock page_title_content %}
                    {% block page_toolbar %}
                    <!-- BEGIN PAGE TOOLBAR -->
{#                    {% include 'tool_bar.html.twig' %}#}
                    <!-- END PAGE TOOLBAR -->
                    {% endblock page_toolbar %}
                </div>
                <!-- END PAGE HEAD-->
                {% endblock page_header %}
                {% block page_breadcrumb %}
                <!-- BEGIN PAGE BREADCRUMB -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span class="active">Dashboard</span>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMB -->
                {% endblock page_breadcrumb %}
                {% block page_content %}
                <!-- BEGIN PAGE BASE CONTENT -->
                    {% block content %}
                    {% endblock content%}
                <!-- END PAGE BASE CONTENT -->
                {% endblock page_content %} 
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        {% endblock page_content_wrapper %}
        {% block quick_sidebar %}
        <!-- BEGIN QUICK SIDEBAR -->
        
        <!-- END QUICK SIDEBAR -->
        {% endblock quick_sidebar %}
    </div>
    <!-- END CONTAINER -->
    {% endblock page_container %}
    {% block footer %}
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner"> 2016 &copy; Sharelook
            
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    {% endblock footer %}
    {% block quick_nav %}
    {% endblock quick_nav %}
   {% endblock body %}
      
